/*!GENERAL STYLE */
@import '../less/lesshat.less';
/* WordPress Core
-------------------------------------------------------------- */
@import '../less/wordpress-core.less';
/* Shortcodes Ultimate Custom
-------------------------------------------------------------- */
@import '../less/shortcodes-ultimate-custom.less';

/* Theme commons
-------------------------------------------------------------- */
.loading:empty {
    background: url('../images/common/loading.gif') no-repeat center center;
    min-height: 32px;
    min-width: 32px;
}
/* --------------------------------------------------------------
Variables
-------------------------------------------------------------- */
/* Pixels */
@1: 1px;
@2: 2px;
@3: 3px;
@4: 4px;
@5: 5px;
@10: (@5 + @5);
@15: (@10 + @5);
@20: (@10 + @10);
@25: (@20 + @5);
@30: (@15 + @15);
/* Colors */
@black: #444545;
@gray3: #333333;
@gray6: #666666;
@gray9: #999999;
@grayc: #cccccc;
@grayf0: #f0f0f0;
@white: #ffffff;
@blue: #80cacf;
@orange: #FF5925;

/* Class */
.no-margin { margin: 0; }

.no-margint { margin-top: 0; }

.no-marginb { margin-bottom: 0; }

.margint5 { margin-top: (@5); }

.margint10 { margin-top: (@10); }

.margint15 { margin-top: (@15); }

.margint20 { margin-top: (@20); }

.margint25 { margin-top: (@25); }

.margint30 { margin-top: (@30); }

.marginb5 { margin-bottom: (@5); }

.marginb10 { margin-bottom: (@10); }

.marginb15 { margin-bottom: (@15); }

.marginb20 { margin-bottom: (@20); }

.marginb25 { margin-bottom: (@25); }

.marginb30 { margin-bottom: (@30); }

.no-padding { padding: 0; }

.no-paddingt { padding-top: 0; }

.no-paddingb { padding-bottom: 0; }

.no-paddingl { padding-left: 0; }

.no-paddingr { padding-right: 0; }

.paddingt5 { padding-top: (@5); }

.paddingt10 { padding-top: (@10); }

.paddingt15 { padding-top: (@15); }

.paddingt20 { padding-top: (@20); }

.paddingt25 { padding-top: (@25); }

.paddingt30 { padding-top: (@30); }

.paddingb5 { padding-bottom: (@5); }

.paddingb10 { padding-bottom: (@10); }

.paddingb15 { padding-bottom: (@15); }

.paddingb20 { padding-bottom: (@20); }

.paddingb25 { padding-bottom: (@25); }

.paddingb30 { padding-bottom: (@30); }

.marginr30 { margin-right: @30; }

.margint40 { margin-top: @30 + @10; }

/* --------------------------------------------------------------
Body default
-------------------------------------------------------------- */
@keyframes shake {
    10%, 90% { transform: translate3d(-1px, 0, 0); }

    20%, 80% { transform: translate3d(2px, 0, 0); }

    30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }

    40%, 60% { transform: translate3d(4px, 0, 0); }
}

@-webkit-keyframes thumb {
    0% { -webkit-transform: scale(1); }

    50% { -webkit-transform: scale(0.9); }

    100% { -webkit-transform: scale(1); }
}

.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

html { height: 100%; }

body {
    font-weight: 400;
    font-family: 'Catamaran', sans-serif;
    color: @black;
}

.archive, .single { min-height: 50vh; }

a {
    .transition(all .2s ease-in-out);

    &:hover { text-decoration: none; }
}

/**/
.sprites-wishcart {
    background: url(../images/button-header.png);
    display: inline-block;
    color: #80cacf;
    height: 45px;
    width: 45px;
    margin-right: 10px;
    position: relative;
}

.wishcart-badge {
    position: absolute;
    z-index: 9;
    border-radius: 100%;
    background: #00CCD1;
    width: 23px;
    height: 23px;
    color: #FFF;
    font-size: 13px;
    font-weight: 900;
    right: -5px;
    text-align: center;
    padding-top: 3px;
    top: -12px;
}

.sprites-wish { background-position: 0 0; }

.sprites-cart {
    background-position: -45px 0;
    position: relative;
}

#sticker {
    width: 100%;
    z-index: 999;
}

.the-header {
    height: 150px;
    background-color: rgba(255,255,255,0.90);
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.logo-container {
    padding-left: 10px;

    & img {
        height: 135px !important;
        width: auto;
        padding-top: 5px;
    }
}

.navbar-default {
    background-image: none;
    background-color: transparent;
    border: 0;
    box-shadow: 0 0 0 transparent;
    /* height: 160px; */
}

.navbar-container { padding-top: 58px; }

.navbar-nav {
    font-size: 13px;
    text-transform: uppercase;

    & li {
        padding-left: 15px;
        padding-right: 15px;

        &:last-child { padding-right: 0; }

        & a {
            padding: 0;
            border-bottom: 8px solid black;
            padding-bottom: 20px;
        }

        &:nth-child(1) a { border-bottom-color: #80cacf; }

        &:nth-child(2) a { border-bottom-color: #f15a2d; }

        &:nth-child(3) a { border-bottom-color: #f7ac40; }

        &:nth-child(4) a { border-bottom-color: #8ac242; }

        &:nth-child(5) a { border-bottom-color: #9c2064; }

        &:nth-child(6) a { border-bottom-color: #D81F61; }
    }
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
    background-image: none;
    background-color: transparent;
    box-shadow: 0 0 0 transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: transparent;
    box-shadow: 0 0 0 transparent;
}

.wishlist-container { padding-top: 95px; }

.cart-content {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

.the-slider {
    margin-top: -150px;
    min-height: 600px;
}

.login-container {
    text-align: right;
    font-size: 18px;
    font-weight: 600;
    padding-top: 15px;
}

.front-login {
    background-color: #80cacf;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    .transition(all .2s ease-in-out);

    & .btn-front-login {
        display: inline-block;
        border: 1px solid #444545;
        color: #444545;
        padding: 10px;
        font-size: 20px;
        padding-top: 12px;
        margin-right: 20px;
        border-radius: 0;
        background-color: transparent;
    }
}

.front-promo {
    padding-top: 60px;
    padding-bottom: 60px;
}

.front-search {
    padding-bottom: 20px;

    & input { width: 78% !important; }
}

.front-search-title { font-size: 50px; }

.btn-front-search {
    background-color: #f15a2d;
    color: #FFF;
    border-radius: 0;
    padding: 4px;
    font-size: 17px;
}

.front-category-item {
    text-align: center;
    margin-top: 15px;

    & img {
        display: inline-block;

        &:hover {
            -webkit-animation-name: thumb;
            -webkit-animation-duration: 200ms;
            -webkit-transform-origin: 50% 50%;
            -webkit-animation-iteration-count: 2;
            -webkit-animation-timing-function: linear;
        }
    }

    & h5 {
        font-size: 17px;
        font-weight: 900;
        text-transform: uppercase;
    }
}

.front-featured-prods {
    padding-top: 40px;
    padding-bottom: 40px;
}

.front-featured-prods-title {
    text-align: center;
    font-size: 50px;

    & .word1 { font-weight: 300; }
}

.front-contact {
    background: url(../images/form-home-lluvia.jpg);
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;

    & .wpcf7 {
        padding-left: 10px !important;
        font-size: 25px;
        color: @black;
        font-weight: 100;
        padding-left: 0 !important;
    }

    & h2 {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
    }
}

.front-contact-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
}

input[type=text].wpcf7-form-control {
    width: 100%;
    background: none;
    box-shadow: 0 0 0 transparent;
    border: 0;
    border-bottom: 1px solid @black;
    font-size: 25px;
    font-weight: 100;
    .placeholder(@black);
}

input[type=tel].wpcf7-form-control {
    width: 100%;
    background: none;
    box-shadow: 0 0 0 transparent;
    border: 0;
    border-bottom: 1px solid @black;
    font-size: 25px;
    font-weight: 100;
    .placeholder(@black);
}

input[type=email].wpcf7-form-control {
    width: 100%;
    background: none;
    box-shadow: 0 0 0 transparent;
    border: 0;
    border-bottom: 1px solid @black;
    font-size: 25px;
    font-weight: 100;
    .placeholder(@black);
}

textarea.wpcf7-form-control {
    width: 100%;
    margin-top: 5px;
    background: #F6F6F6;
    border: 0;
    font-weight: 100;
}

.wpcf7-submit {
    float: right;
    background: #f15a2d;
    border: 0;
    color: #FFF;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 18px;
    padding-top: 7px;
}

.btn-contact-reg {
    width: 80%;
    font-size: 33px;
    padding: 5px;
    border: 4px solid #80cacf;
    border-radius: 0;
    background-color: transparent;
    color: #80cacf;
    font-weight: 600;
    margin-top: 185px;
    margin-bottom: 20px;
}

.front-contact-reg {
    & .fa {
        color: #f15a2d;
        width: 50px;
        border: 1px solid #f15a2d;
        height: 50px;
        padding-top: 5px;
        text-align: center;
        margin-right: 20px;
        border-radius: 7px;
        font-size: 40px;
    }
}

.the-footer {
    padding-top: 30px;
    padding-bottom: 55px;
    background-color: #80cacf;
    color: #FFF;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;

    & ul {
        padding-left: 0;
        list-style: none;
        line-height: 25px;
    }

    & a { color: #FFF; }

    & h5 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 20px;
    }
}

.gotop {
    & img { float: right; }
}

.footer-img { padding-top: 15px; }

.footer-contact-item { padding-bottom: 10px; }

.faq-item {
    padding-bottom: 10px;
    font-size: 13px;
}

.footer-copy {
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 13px;
    line-height: 30px;
    font-weight: 500;

    & img {
        display: inline-block;
        margin-top: -10px;
    }

    & .glyphicon-chevron-up {
        float: right;
        background: #F15A2D;
        color: #FFF;
        font-size: 35px;
        width: 40px;
        text-align: center;
        padding-left: 3px;
        height: 40px;
        padding-top: 3px;
        margin-top: -10px;
    }
}

.pre-categories {
    background-color: #F5F5F5;
    padding-top: 50px;
    margin-bottom: 15px;
}

.pre-categories-cesta img {
    display: inline-block;
}
.pre-categories-cesta {
    text-align: center;
}
.pre-category-cesta-title {
    background: #D71E61;
    color: #FFF;
}

.pre-category-item-title {
    padding-top: 30px;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 15px;

    & h2 {
        font-weight: 300;
        font-size: 45px;
        text-transform: uppercase;
        margin-top: 0;
    }
    & h3 {
        margin: 0;
        margin-top: -10px;
    }
    & h4 {
        font-size: 15px;
        color: #7B7B7B;
    }
}

.pre-category-item {
    float: left;
    margin-right: 25px;

    & img { width: 50px; }
}

.shop-sidebar {
    list-style: none;
    padding-left: 0;

    & h2 {
        text-transform: uppercase;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 700;
    }

    & .widget_price_filter {
        font-size: 14px;
        font-weight: 600;
    }

    & .widget-custom-woocommerce .product-categories {
        list-style: none;
        padding: 0;
        font-size: 16px;
        margin-top: 15px;
        font-weight: 500;
        line-height: 25px;
        margin-bottom: 30px;

        & li > a { color: @black; }
    }

    & .woocommerce-product-search {
        & input[type=search] {
            width: 100%;
            margin-bottom: 10px;
            border: 1px solid gray;
            line-height: 25px;
        }

        & input[type=submit] {
            background-color: @orange;
            color: @white;
            border: 0;
            padding: 4px 12px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 100;
            font-size: 19px;
        }
    }
}

.shop-product-single-item {
    border: 1px solid #ECECEC;
    margin-bottom: 20px;
    padding-top: 15px;

    & img {
        width: 100%;
        height: auto;
    }

    & .star-rating {
        overflow: hidden;
        position: relative;
        height: 1em;
        line-height: 1;
        font-size: 1em;
        width: 5.4em;
        font-family: star;

        & span {
            overflow: hidden;
            float: left;
            top: 0;
            left: 0;
            position: absolute;
            padding-top: 1.5em;

            &:before {
                content: "\53\53\53\53\53";
                top: 0;
                position: absolute;
                left: 0;
            }
        }

        &:before {
            content: "\73\73\73\73\73";
            color: #d3ced2;
            float: left;
            top: 0;
            left: 0;
            position: absolute;
        }
    }
}

.shop-product-single-item-price {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #80cacf;
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    min-height: 45px;
    max-height: 45px;
    margin-top: 10px;

    s & .price { color: @white !important; }
}

.shop-product-single-item-content {
    text-align: center;
    min-height: 150px;
    position: relative;

    & .star-rating {
        display: inline-block !important;
        margin-top: 10px !important;
        color: #F61961 !important;
    }

    & h3 {
        margin-top: 0;
        font-size: 23px;
        font-weight: 300;
        color: #434343;
    }
}

.codenegar-shop-loop-wrapper { margin-top: 20px; }

.shop-item-sprite {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: cover;
    margin-right: 10px;
}

.tienda-sprite {
    position: absolute;
    bottom: 10px;
}

.shop-item-sprite-cart-wish { background-image: url(../images/wish-btn.png); }

.tienda-sprite-cart-wish { left: 15%; }

.shop-item-sprite-cart-cart { background-image: url(../images/cart-btn.png); }

.tienda-sprite-cart-cart { left: 40%; }

.shop-item-sprite-cart-single { background-image: url(../images/single-btn.png); }

.tienda-sprite-cart-single { left: 66%; }

.single-sprite-cart-wish {
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

/* SINGLE */
.custom-single-product-container {
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;

    & .posted_in { display: block; }

    & .product form.cart, .product p.cart { display: inline-block !important; }

    & .yith-wcwl-add-to-wishlist { display: inline-block !important; }

    & .yith-wcwl-add-button a {
        padding: 0 !important;
        float: left;
        margin-top: -10px !important;
        background: transparent !important;
    }

    & .product_title {
        font-size: 25px !important;
        font-weight: 600;
        color: #58595B;
        margin-bottom: 3px;
    }

    & .woocommerce-product-rating { margin-bottom: 0 !important; }

    & .star-rating { color: #F61961 !important; }

    & .woocommerce-review-link {
        font-weight: 700;
        font-size: 16px;
        margin-left: 10px;
        color: #58595B;
    }

    & .price {
        color: #58595B !important;
        font-size: 25px;
        font-weight: 700;
    }

    & .in-stock {
        font-size: 14px !important;
        font-weight: 700;
        color: #04A529 !important;

        &:before {
            content: 'Disponibilidad: ';
            color: #58595B;
        }
    }

    & .single-item-description {
        border-top: 1px solid #E4E4E4;
        padding-top: 5px;
    }

    & .single_add_to_cart_button {
        background-color: #FF5925 !important;
        border: 0 !important;
        border-radius: 0px !important;
        color: #ffffff !important;
        text-transform: uppercase;
        font-size: 15px !important;
        font-weight: 300 !important;
        padding: 7.5px 10px !important;
        margin-right: 5px !important;
    }

    & .qty {
        height: 30px !important;
        width: 40px !important;
    }

    & #wl-wrapper {
        float: left !important;
        width: 50px !important;
        clear: none !important;
        padding: 0 !important;
        display: inline-block;
    }

    & .wl-add-but {
        padding: 0 !important;
        background: none transparent !important;
        margin-left: 5px !important;
    }

    & .woocommerce-tabs .panel { padding: 15px !important; }

    & .wc-tabs {
        padding-left: 5px !important;

        & li {
            border-radius: 0 !important;

            &:before { content: none !important; }

            &:after { content: none !important; }
        }
    }

    & .wc-tab {
        border: 1px solid #E7E7E7;
        border-radius: 0;
    }

    & .tabs {
        margin-bottom: 0 !important;

        & li {
            text-transform: uppercase;
            background: none transparent !important;
            border: 0 !important;

            & a {
                font-weight: 300 !important;
                font-size: 15px;
            }
        }

        & .active {
            background: #FF5925 !important;
            color: #FFF;
            z-index: 2;
            border-bottom-color: transparent;
            font-size: 16px;
        }
    }

    & .related {
        & h2 {
            font-size: 20px;
            font-weight: 600;
            padding-bottom: 10px;
            border-bottom: 1px solid #E9E9E9;
        }
    }
}

.page-content {
    min-height: 50vh;
    font-size: 18px;
    font-weight: 300;

    & .page {
        padding-top: 10px;
        padding-bottom: 25px;
    }

    & h2 {
        border-left: 5px solid #80cacf;
        padding-left: 5px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    & h3 {
        border-left: 5px solid #F15A2D;
        padding-left: 5px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    & ul { list-style-type: square; }
}

.faq-section-title {
    background-color: #80CACF;
    padding: 12px;
    text-indent: 10px;
    text-transform: uppercase;
    color: #FFF;

    & h1 {
        font-size: 30px;
        font-weight: 300;
    }
}

.faq-content {
    & .faq-title { padding-left: 10px; }

    & h3.faq-title:nth-of-type(1) { border-left: 5px solid #80cacf; }

    & h3.faq-title:nth-of-type(2) { border-left: 5px solid #f15a2d; }

    & h3.faq-title:nth-of-type(3) { border-left: 5px solid #f7ac40; }

    & h3.faq-title:nth-of-type(4) { border-left: 5px solid #8ac242; }

    & h3.faq-title:nth-of-type(5) { border-left: 5px solid #9c2064; }

    & h3.faq-title:nth-of-type(6) { border-left: 5px solid #80cacf; }

    & h3.faq-title:nth-of-type(7) { border-left: 5px solid #f15a2d; }

    & h3.faq-title:nth-of-type(8) { border-left: 5px solid #f7ac40; }

    & h3.faq-title:nth-of-type(9) { border-left: 5px solid #8ac242; }

    & h3.faq-title:nth-of-type(10) { border-left: 5px solid #9c2064; }

    & h3.faq-title:nth-of-type(11) { border-left: 5px solid #80cacf; }

    & h3.faq-title:nth-of-type(12) { border-left: 5px solid #f15a2d; }

    & h3.faq-title:nth-of-type(13) { border-left: 5px solid #f7ac40; }

    & h3.faq-title:nth-of-type(14) { border-left: 5px solid #8ac242; }

    & h3.faq-title:nth-of-type(15) { border-left: 5px solid #9c2064; }

    & .panel-group { padding-left: 10px; }
}

/* OVERRIDE */
.panel-default {
    border-color: transparent;
    margin-bottom: 0;
    border-radius: 4px;
    box-shadow: 0 0 0 transparent;
    border-bottom: 1px solid #F9F9F9;

    & .panel-heading {
        color: @black;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid #F9F9F9;
        background-image: none;
        position: relative;

        & span {
            .transition(all .2s ease-in-out);
            position: absolute;
            right: 15px;
            top: 10px;
        }

        & .collapsed span {
            .transition(all .2s ease-in-out);
            transform: rotate(90deg);
        }
    }

    & .panel-title {
        font-weight: 400;
        font-size: 18px;
        width: 95%;
        line-height: 30px;
    }

    & .panel-body {
        font-size: 15px;
        line-height: 30px;
        font-weight: 400;
        color: @black;
    }
}

.footer-contact .fa {
    font-size: 24px;
    text-align: right;
}

.footer-faq {
    & ul {
        margin: 0;

        & li {
            width: 50%;
            float: left;
        }
    }
}

.front-docked-login-hide {
    display: none;
    opacity: 0;
    .transition(all .2s ease-in-out);
}

.front-docked-login-show {
    display: block;
    opacity: 1;
    .transition(all .2s ease-in-out);
}

.front-docked-login {
    padding-top: 20px;
    text-align: left;
    padding-left: 40px;

    & label { width: 100%; }

    & input {
        width: 100%;
        border: 1px solid black;
        border-radius: 5px;
        padding: 3px;
    }

    input[type=checkbox] { width: auto; }

    & input[type=submit] {
        background: transparent;
        border-radius: 0;
        font-size: 20px;
        font-weight: 300;
        text-transform: uppercase;
        padding: 10px 0px;
    }
}

.front-gallery-prods { height: auto; }

.flickity-prev-next-button.next { right: -50px; }

.flickity-prev-next-button.previous { left: -50px; }

.woocommerce-product-container .product { min-height: 460px; }

.prov-formulario {
    background: url(../images/form-home-lluvia.jpg);
    background-size: cover;
    padding: 25px 0px;
    background-position: center;
    position: relative;
}

.prov-formulario-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.80);
}

.share-container {
    padding-left: 0;
    margin-top: 0px;
    padding-bottom: 5px;
}

.hide-share {
    display: none;
    .transition(all .3s ease-in-out);
}

.show-share {
    display: block;
    .transition(all .3s ease-in-out);
}

.share-btn {
    cursor: pointer;

    & img {
        width: 31px;
        height: 30px;
    }
}

.product.has-default-attributes.has-children>.images { opacity: 1 !important; }

.cross-sells { visibility: hidden !important; }

#customer_details { padding-bottom: 30px; }

.woocommerce {
    & .price_slider_wrapper {
        margin-top: 15px;
        margin-bottom: 5px;
    }

    & .price_slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all { width: 65% !important; }

    & .widget_price_filter .ui-slider .ui-slider-range { background-color: #BDBDBD !important; }

    & .widget_price_filter .ui-slider .ui-slider-handle { background-color: #737272 !important; }

    & .widget_price_filter .price_slider_wrapper .ui-widget-content { background-color: #737272 !important; }

    & .widget_price_filter .price_slider_amount {
        position: relative;
        clear: both !important;
        font-size: .8751em;
        display: block;
        min-height: 70px;
    }

    & .widget_price_filter .price_slider_amount .price_label {
        position: absolute;
        font-size: 14px;
        top: -5px;
    }

    & .widget_price_filter .price_slider_amount .button {
        background-color: #BDBDBD;
        color: #ffffff;
        border: 0;
        padding: 8px 10px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 16px !important;
        position: absolute;
        left: 0;
        top: 26px;
    }

    & .product_meta {
        margin-top: 5px !important;
        border-top: 1px solid #e1e1e1;
        padding-top: 10px;
    }

    & .shop_table {
        font-size: 16px;

        & thead {
            text-transform: uppercase;
            color: #000;

            & th { font-weight: 600 !important; }
        }

        & a { color: #000; }

        & .cart_item { font-weight: 500; }

        & input.button {
            font-weight: 100;
            color: #FFF;
            background-color: #F15A2D;
            border-radius: 0px;
        }

        .coupon {
            & .input-text {
                width: 150px !important;
                font-size: 14px;
                line-height: 25px !important;
            }

            & input.button {
                font-weight: 100;
                color: #FFF;
                background-color: #80CACF;
                border-radius: 0px;
            }
        }
    }

    & .checkout h3 {
        border: 0;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 25px;
    }

    /* CART TOTALS */
    & .cart_totals {
        & h2 {
            font-size: 35px !important;
            text-transform: uppercase;
            border: 0;
            font-weight: 900;
        }

        & table {
            width: 100%;
            border: 1px solid #EBE9EB;

            & tr th { padding: 5px; }
        }

        & .wc-proceed-to-checkout .checkout-button {
            width: 25%;
            float: right;
            font-size: 23px;
            padding: 12px !important;
            font-weight: 300 !important;
            background-color: #F15A2D;
        }
    }

    /* */
    .woocommerce-checkout-payment {
        & .button { background-color: #F15A2D !important; }
    }

    & .wl-tabs {
        padding-left: 0;

        & .wl-items-tab a { border-radius: 0 !important; }

        & .active a {
            background-color: #F15A2D !important;
            color: #FFF !important;
        }
    }
}

.custom-field-woo-check {
    & input {
        display: inline-block !important;
        margin-left: -20px !important;
        margin-top: 10px !important;
    }

    & .checkbox {
        display: block !important;
        text-indent: 20px !important;
    }
}

.woocommerce-pagination {
    background-color: #f5f5f5;
    margin-bottom: 30px;
    margin-top: -20px;
    padding: 20px;

    & ul {
        border: 0 !important;

        & li {
            border: 0 !important;
            font-size: 25px;
            font-weight: 300 !important;

            & a { color: #444545; }

            & span.current { background: transparent !important; }
        }
    }
}

.woocommerce table.wishlist_table thead th, .woocommerce table.wishlist_table tbody td {
    border-color: #e7e7e7;
    color: #202020;
}

.owl-item .col-md-4 {
    width: 100%;
    padding-left: 0 !important;
}

.owl-controls {
    position: absolute;
    top: -75px;
    right: -15px;
}

.owl-theme .owl-controls .owl-buttons div { background: transparent !important; }

.related h2 {
    font-weight: 700 !important;
    text-transform: uppercase;
    font-size: 22px !important;
    padding-bottom: 15px !important;
}

.shop-product-single-item-price .price {
    color: #fff !important;
    font-weight: 100;
    word-break: break-all;
}

.sprite-slider {
    background: url(../images/sprites-slider.png);
    height: 43px;
    width: 43px;
    display: inline-block;
}

.sprite-slider-prev { background-position: 0 0; }

.sprite-slider-next { background-position: 43px 0; }

.thumbnails.columns-4 {
    text-align: center;

    & a {
        display: inline-block !important;
        float: none !important;

        & img { display: inline-block !important; }
    }
}

.variations-table tr td:nth-child(1) { display: none; }

.swatch-wrapper {
    border-radius: 100% !important;

    & a { border-radius: 100% !important; }

    & img { border-radius: 100% !important; }
}

.woocommerce-variation-availability { display: none !important; }

.product-type-variable .yith-wcwl-add-to-wishlist {
    position: relative !important;
    float: right;
    z-index: 50;
    margin-top: -53px;
    margin-right: 145px;
}

.product-type-variable {
    & .yith-wcwl-wishlistaddedbrowse { margin-top: 50px; }

    & .yith-wcwl-wishlistexistsbrowse { margin-top: 40px; }

    & .woocommerce div.product form.cart, .woocommerce div.product p.cart {
        margin-bottom: 2em;
        display: inline-block !important;
        float: left;
    }

    & .share-btn {
        position: relative !important;
        float: right;
        z-index: 99;
        margin-top: -58px;
        margin-right: 141px;
    }

    & .summary .product_meta { margin-top: 5px; }
}

.variation_form_section { margin-bottom: 20px; }

.variations_form {
    display: inline-block !important;
    float: left;
    width: 100%;
}

.sidebar-categories .panel-group { margin: 0; }

.panel-custom {
    border: 0;
    box-shadow: 0 0 0 transparent;

    & .panel-heading {
        padding: 5px;
        padding-left: 0;
        background-image: none;
        background: transparent;

        & .panel-title {
            font-weight: 600;
            font-size: 14px;
        }
    }

    & .panel-body {
        padding: 5px;
        border: 0 !important;
        font-size: 14px;

        & p {
            margin-bottom: 0;
            line-height: 25px;
            font-weight: 400;
            padding-left: 15px;

            & a {
                color: #000;
                font-weight: 500;
            }
        }
    }
}

.columns-8 ul li { width: 9% !important; }

ul.summary_elements { padding-left: 0 !important; }

.composite_summary li.summary_element {
    min-height: 340px;
    width: 12.5% !important;
}

.composite_pagination {
    margin-top: 30px !important;
    font-size: 20px;
}

.summary-composite {

    width: 100% !important;
    float: none !important;

    & h1 {
        display: none;
    }
    & .product_title {
        font-size: 40px !important;
        font-weight: 100;
        margin-bottom: 20px;
        text-align: center;
        text-transform: uppercase;
    }

    & .single-item-description {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        line-height: 25px;
        font-weight: 300;
        border-top: 0 !important;
        padding-top: 0 !important;
        margin-top: -20px;
    }

    & .component .component_title_wrapper {
        background: @blue;
        padding: 5px;
        border-radius: 0;
        margin-bottom: 5px;
        padding-top: 12px;

        & .component_title.product_title {
            color: #FFF;
            margin-bottom: 5px;
            font-size: 35px !important;
        }
    }

    & .composite_button { text-align: center; }

    & .quantity {
        float: none !important;
        display: inline-block !important;
    }

    & #wl-wrapper { display: none; }

    & .heateor_sss_sharing_container {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    & .component .component_option_thumbnail .thumbnail_description .thumbnail_price {
        word-wrap: break-word;
        font-size: 0.8em !important;
    }

    & .component_option_thumbnail_container {
        & .thumbnail_description {
            padding-left: 0;
            padding-right: 0;

            & .title {
                font-size: 12px !important;
                font-weight: 300;
            }
        }
    }

    & .amount { font-size: 14px; }

    & .component_summary .composited_product_title { font-size: 30px !important; }

    & .yith-wcwl-add-to-wishlist { visibility: hidden; }

    & .component_selections {
        & .component_pagination {
            text-align: center;
            background: #F5F5F5;

            & .index {
                width: 100%;
                text-align: center;
                font-size: 15px;
                font-weight: 600;
            }

            & .number {
                margin-top: 5px !important;
                display: inline-block;
                font-size: 24px;
                font-weight: 400;
                color: #232323;
            }

            & .current {
                font-weight: 900 !important;
                font-size: 25px !important;
            }
        }
    }

    & .product_meta {
        margin-top: 45px;
        text-align: center;
    }
}

.related-products .shop-product-single-item-price { font-size: 15px !important; }

.pp_woocommerce div.ppt { visibility: hidden !important; }

.related-products {
    position: relative;

    & .shop-product-single-item-content h3 {
        margin-top: 0;
        font-size: 18px;
        font-weight: 300;
        color: #434343;
    }

    & .custom-single-product-container .price {
        color: #58595B !important;
        font-size: 18px !important;
        font-weight: 700;
    }
}

.columns-3 ul.component_option_thumbnails_container li.component_option_thumbnail_container {
    width: 12% !important;
    min-height: 210px;
}

.columns-12 ul li { width: 11% !important; }

.composite_wrap .composite_price {
    text-align: center;
    font-size: 20px;

    & .amount { font-size: 21px; }
}

.product-type-simple {
    & form.cart { margin-bottom: 0 !important; }

    & .share-btn {
        top: -12px !important;
        position: relative;
        display: inline-block;
    }

    & .single-sprite-cart-wish { margin-top: -7px !important; }
}

.product-type-composite {
    & .share-btn { display: none; }
}
.pp_details .pp_description {
    display: none !important;
}
.is-sticky .the-header {
    background-color: rgba(255, 255, 255, 0.95);
}
small.woocommerce-price-suffix {
    font-size: 14px !important;
    font-weight: 300 !important;
}
.clear_component_options {
    font-size: 20px !important;
    font-weight: 300 !important;
    text-transform: uppercase;
    color: #C0202F !important;
    /* top: -10px; */
}
.clear_component_options:before {
    content: ' ' !important;
    visibility: visible !important;
    width: 40px;
    height: 40px !important;
    position: relative;
    top: 13px;
    margin-right: 4px;
    background: url(../images/clear.png);
    background-size: cover;
    display: inline-block !important;
    border-radius: 0 !important;
}


.corporativo-form {
    padding-top: 15px;
    & h2 {
        border: 0;
        padding-left: 0;
    }
    & h3 {
        padding-left: 0;
        border: 0;
        font-weight: 300;
        text-transform: uppercase;
    }
    & input[type=text] {
        width: 100%;

    }
    & input[type=email] {
        width: 100%;

    }
    & input[type=tel] {
        width: 100%;

    }

}


.composite_navigation{
    & .prev{
        font-weight: 300 !important;
        font-size: 26px !important;
        text-transform: uppercase;
        padding-top: 6px;
    }
    & .next {
        font-weight: 300 !important;
        font-size: 26px !important;
        text-transform: uppercase;
        padding-top: 6px;
    }
}
.ssl-seal {
    padding-top: 10px;
    padding-left: 15px;
    text-align: center;
    #siteseal{
        display: inline-block !important;
    }
}
.woocommerce-billing-fields {
    font-size: 17px;
}
.woocommerce-shipping-fields {
    font-size: 17px;
    & input[type=radio] {
        display: none;
    }
    & #ship-to-different-address {
        margin: 0;
        margin-top: 11px;
        margin-bottom: 8px;
    }
}



/* MAINTENANCE */

.maintenance {
    height: 100vh;
    text-align: center;
    color: #FFF;
    padding-top: 10%;

    & img {
        display: inline-block;
    }
}
