/*!GENERAL MEDIAQUERIES STYLE */
@media (max-width: 1280px) {
    .navbar-nav li {
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbar-nav { font-size: 13px; }

    .logo-container img {
        width: auto;
        height: auto !important;
    }

    .front-contact-reg .fa {
        width: 45px;
        height: 45px;
        font-size: 35px;
    }

    .btn-contact-reg {
        width: 70%;
        font-size: 28px;
    }

    .front-category-item h5 { font-size: 13px; }
}

@media (max-width: 1170px) {
    .the-header { height: 140px; }

    .navbar-container { padding-top: 47px; }

    .wishlist-container { padding-top: 85px; }

    .navbar-nav { font-size: 11px; }

    .navbar-nav li {
        padding-left: 10px;
        padding-right: 10px;
    }

    #bs-example-navbar-collapse-1 {
        padding: 0;
        width: 110%;
        margin-left: -50px;
    }

    .footer-copy { font-size: 10px; }
    .front-login .btn-front-login {
        font-size: 15px;
    }
}

@media (max-width: 1024px) {
    .the-header { height: 118px; }

    .navbar-container { padding-top: 25px; }

    .wishlist-container { padding-top: 65px; }

    .the-slider { min-height: 450px; }

    .front-search-title { font-size: 40px; }

    .btn-contact-reg { width: 100%; }

    .pre-category-item { margin-right: 10px; }

    .tienda-sprite-cart-wish { left: 10%; }

    .tienda-sprite-cart-single { left: 70%; }

    .footer-contact-item img { width: 100%; }
}

@media (max-width: 991px) {
    .navbar-collapse {
        padding: 0;
    }
    .navbar-default { margin-bottom: 0; }

    .navbar-container { padding-top: 10px; }

    .navbar-nav { font-size: 12px; }

    .cart-content { right: 0; }

    .logo-container img { height: 125px !important; }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-collapse.in {
        overflow-y: auto !important;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #999;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #fff;
        background-color: transparent;
        background-image:none;
    }
    .footer-contact-item img {
        height: 25px;
        width: auto;
        padding-left: 16px;
    }
    .the-header {
        height: 125px;
        padding-bottom: 0px;
    }

    .login-container {
        font-size: 15px;
        padding-top: 10px;
    }

    .the-footer { font-size: 12px; }

    .footer-contact {
        padding-left: 0;
        padding-right: 0;
    }

    .footer-copy {
        font-size: 10px;
        text-align: center;
    }

    .gotop {
        position: absolute;
        right: 50px;
        top: 35px;
    }

    .btn-contact-reg {
        width: 85%;
        font-size: 28px;
        margin-top: 240px;
    }

    .front-category-item h5 { font-size: 10px; }

    .navbar-nav li {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 768px) {
    .logo-container img {
        height: auto !important;
        width: 85% !important;
    }

    .the-slider { min-height: 200px !important; }

    .woocommerce .widget_price_filter .price_slider_amount .price_label { font-size: 12px; }

    .columns-3 ul.component_option_thumbnails_container li.component_option_thumbnail_container {
        width: 15% !important;
        min-height: 110px;
    }

    .composite_form .composite_navigation.paged { padding: 10px 0 !important; }

    .composite_navigation .next { font-size: 22px !important; }

    .composite_navigation .prev { font-size: 22px !important; }
}

@media (max-width: 600px) {
    .the-header {
        height: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .logo-container img {
        padding-top: 10px;
        width: 100% !important;
    }

    .front-search input { display: inline-block; }

    .front-category-item {
        margin-top: 5px;
        min-height: 150px;
    }

    .front-featured-prods-title {
        text-align: center;
        font-size: 40px;
    }

    .shop-product-single-item-content h3 {
        margin-top: 0;
        font-size: 19px;
        font-weight: 300;
        color: #434343;
    }

    .panel-custom .panel-heading .panel-title { font-size: 13px; }

    .woocommerce .widget_price_filter .price_slider_amount .price_label { font-size: 10px; }
}

@media (max-width: 414px) {
    .shop-sidebar h2 {
        text-transform: uppercase;
        margin-bottom: 10px;
        font-size: 12px;
        font-weight: 700;
    }

    .woocommerce .widget_price_filter .price_slider_amount .button { top: 46px; }

    .panel-default .panel-title {
        font-size: 18px;
        line-height: 23px;
    }
}
